<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="../css/bootstrap.min.css" >
  <link rel="stylesheet" href="../css/bootstrap-grid.min.css" >
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/lightbox.css">
    <meta charset="UTF-8">
    <title>ejercicio</title>
</head>
    <body>
        <nav>
      <div class="navb">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <img class="navbar-brand" src="../images/impr.avif" alt="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="../Index.html" >INICIO</a>
                <a class="nav-link" href="galeria.html" id="navchecked">GALERIA</a>
                <a class="nav-link" href="presupuestos.html">PRESUPUESTOS</a>
                <a class="nav-link" href="contacto.html">CONTACTOS</a>
              </div>
            </div>
        </div>
        </nav>
</div>
        </nav>

<div class="cajagaleria">
  <p id="titulogaleria">AQUI NUESTRAS REVISTAS</p>
        <a href="../images/img1.jpg" data-lightbox="roadtrip"><img src="../images/img1.jpg" height="400" width="300" alt="revista1"></a>
        <a href="../images/img2.webp" data-lightbox="roadtrip"><img src="../images/img2.webp" height="400" width="300" alt="revista2"></a>
        <a href="../images/img3.jpg" data-lightbox="roadtrip"><img src="../images/img3.jpg" height="400" width="300" alt="revista3"></a>
        <a href="../images/img2.webp" data-lightbox="roadtrip"><img src="../images/img2.webp" height="400" width="300" alt="revista4"></a>
        <a href="../images/img4.jpg" data-lightbox="roadtrip"><img src="../images/img4.jpg" height="400" width="300" alt="revista4"></a>
        <a href="../images/img5.jpg" data-lightbox="roadtrip"><img src="../images/img5.jpg" height="400" width="300" alt="revista4"></a>
      </div>
      
    
      

   


      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc. "aviso legal", calle n3 madrid</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
           
            <li class="ms-3"><a class="text-body-secondary" href="https://es-es.facebook.com/"><img src="https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19761.png" alt="facebook" width="24" height="24"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png" alt="insta" width="24" height="24"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/i/flow/login"><img src="https://www.lowi.es/blog/wp-content/uploads/2023/10/twitter-X-1000x625.jpeg" alt="X" width="24" height="24"></a></li>
          </ul>
        </footer>
      </div>
  
  <script src="../js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>   
    <script src="../js/javascript.js" ></script>
<script src="../js/lightbox.js" >
</script>

    </body>
</html>